package geom{{range .Dims}}

type MultiPolygon{{.ZM}} struct {
	Polygons []Polygon{{.ZM}}
}

func (multiPolygon{{.ZM}} MultiPolygon{{.ZM}}) Bounds(b *Bounds) *Bounds {
	if b == nil {
		b = NewBounds()
	}
	for _, polygon{{.ZM}} := range multiPolygon{{.ZM}}.Polygons {
		b = polygon{{.ZM}}.Bounds(b)
	}
	return b
}{{end}}
