package geom{{range .Dims}}

type Point{{.ZM}} struct {
	X float64
	Y float64{{with .Z}}
	Z float64{{end}}{{with .M}}
	M float64{{end}}
}

func (point{{.ZM}} Point{{.ZM}}) Bounds(b *Bounds) *Bounds {
	if b == nil {
		return NewBoundsPoint{{.ZM}}(point{{.ZM}})
	} else {
		return b.ExtendPoint{{.ZM}}(point{{.ZM}})
	}
}{{end}}
