package wkb

import (
	"encoding/binary"
	"github.com/ctessum/geom"
	"io"
){{range .Dims}}

func lineString{{.ZM}}Reader(r io.Reader, byteOrder binary.ByteOrder) (geom.T, error) {
	point{{.ZM}}s, err := readPoint{{.ZM}}s(r, byteOrder)
	if err != nil {
		return nil, err
	}
	return geom.LineString{{.ZM}}(point{{.ZM}}s), nil
}

func writeLineString{{.ZM}}(w io.Writer, byteOrder binary.ByteOrder, lineString{{.ZM}} geom.LineString{{.ZM}}) error {
	return writePoint{{.ZM}}s(w, byteOrder, lineString{{.ZM}})
}{{end}}
