package wkt

import (
	"github.com/ctessum/gogeom/geom"
){{range .Dims}}

func appendLineString{{.ZM}}WKT(dst []byte, lineString{{.ZM}} geom.LineString{{.ZM}}) []byte {
	dst = append(dst, []byte("LINESTRING{{.ZM}}(")...)
	dst = appendPoint{{.ZM}}sCoords(dst, lineString{{.ZM}})
	dst = append(dst, ')')
	return dst
}{{end}}
