package wkt

import (
	"github.com/ctessum/gogeom/geom"
){{range .Dims}}

func appendMultiPolygon{{.ZM}}WKT(dst []byte,
	multiPolygon{{.ZM}} geom.MultiPolygon{{.ZM}}) []byte {
	dst = append(dst, []byte("MULTIPOLYGON{{.ZM}}((")...)
	for i, pg := range multiPolygon{{.ZM}} {
		dst = appendPoint{{.ZM}}ssCoords(dst, pg)
		if i != len(multiPolygon{{.ZM}})-1 {
			dst = append(dst, ')')
			dst = append(dst, ',')
			dst = append(dst, '(')
		}
	}
	dst = append(dst, ')')
	dst = append(dst, ')')
	return dst
}{{end}}

