package wkt

import (
	"github.com/ctessum/gogeom/geom"
){{range .Dims}}

func appendPolygon{{.ZM}}WKT(dst []byte, polygon{{.ZM}} geom.Polygon{{.ZM}}) []byte {
	dst = append(dst, []byte("POLYGON{{.ZM}}(")...)
	dst = appendPoint{{.ZM}}ssCoords(dst, polygon{{.ZM}})
	dst = append(dst, ')')
	return dst
}{{end}}
