package wkt

import (
	"github.com/ctessum/geom"
){{range .Dims}}

func appendMultiLineString{{.ZM}}WKT(dst []byte,
	multiLineString{{.ZM}} geom.MultiLineString{{.ZM}}) []byte {
	dst = append(dst, []byte("MULTILINESTRING{{.ZM}}((")...)
	for i, ls := range multiLineString{{.ZM}} {
		dst = appendPoint{{.ZM}}sCoords(dst, ls)
		if i != len(multiLineString{{.ZM}})-1 {
			dst = append(dst, ')')
			dst = append(dst, ',')
			dst = append(dst, '(')
		}
	}
	dst = append(dst, ')')
	dst = append(dst, ')')
	return dst
}{{end}}
